{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: color #764;
}

h6 {
  font-size: 20px;
  color: var(--text-color);
}

p {
  margin: -20px 0px 56px 25px;
  font-size: 16px;
  text-transform: none;
}

button.btn.btn-primary {
  border: none;
  outline: none;
  text-align: center;
  height: 40px;
  background:hsl(326, 91%, 50%);
}
  color: #fff;
  padding: 10px;
  font-weight: bold;
 
}

span {
  position: absolute;
  right: 34px;
  top: 28px;
  font-size: 18px;
  color: var(--text-color);
}

h1.payment {
  padding: 30px 0px;
  font-size: 42px;
  color: skyblue;
}

form label {
  color:#15133C;
  text-transform: uppercase;
  position: relative;
  font-size: 10px;
  word-spacing: 4px;
}

form select {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid hsl(326, 91%, 50%);
}
  text-transform: capitalize;
  padding-top: 3px;
  color: var(--text-color);
  padding-bottom: 3px;
  font-size: 18px;
  margin-left: -3px;
  margin-bottom: 20px;
  background-color: transparent;
}

form #cardno,
form #cardholder {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid hsl(326, 91%, 50%);
}
  padding-top: 5px;
  margin-bottom: 20px;
  padding-right: 30px;
  color:#15133C;
  font-size: 18px;
  background-color: transparent;
  padding-bottom: 5px;
  border-radius: 16px;
}

.float {
  display: flex;
}

.container {
  width: 100%;
  max-width: 400px;
  background: lightyellow;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
}
.error-message {
  color: red;
  display: none;
}

.is-invalid {
  border-color: red;
}
.close{
background-color:#fc8b0b;
}

#validtill,
#cvv {
  border: none;
  border-bottom: 2px solid hsl(326, 91%, 50%);
}
  outline: none;
  width: 130px;
  padding-top: 14px;
  margin-bottom: 56px;
  color: var(--text-color);
  background-color: transparent;
  font-size: 18px;
}
button.btn.btn-primary:hover {color: silver;}
